<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="app">
        {{ message }}

        <span v-bind:title="message">
	    鼠标悬停几秒钟查看此处动态绑定的提示信息！
	    </span>

        <div id="app-3">
            <p v-if="seen">现在你看到我了</p>
        </div>

        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

        <input v-model="name" />

        <button @click="getName">GET</button>
    </div>

    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                seen: true,
                todos: [
                    { text: '学习 JavaScript' },
                    { text: '学习 Vue' },
                    { text: '整个牛项目' }
                ],
                name: "tangzhe"
            },
            methods: {
                getName:function() {
                    alert(this.name);
                }
            }
        });
    </script>
</body>
</html>